.title{
    background: linear-gradient(to left, rgb(18, 18, 95), rgb(32, 117, 195));
}
.forecast{
    background-color: rgba(5, 5, 77, 0.9);
    width: 20%;
    height: 200px;
}
.searchBtn{
    background-color: rgb(32, 117, 195);
}
.cityBtn{
    background-color: rgb(175, 175, 175);
}